*{
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}
a{
	color: #8B4513;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: #8B4513;
}
#wrap{
	width: 1347px;
	color: #8B4513;
	background:#eeeeee;
}
#pac{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*导航栏*/
.top{
	border-bottom: 3px solid #aaaaaa;
	border-top: 3px solid #aaaaaa;
	height: 45px;
	background-image: url(../images/top.jpg);	
}
#logo{
	float: left;
	margin:5px 130px 0px 20px;
}
.tubiao{
	margin-right: 50px;
	margin-top: 8px;
	float: right;
}
.top ul li{
	list-style-type: none;	
	float: left;
	width: 120px;
	height: 45px;
}
.top1 ul{
	margin-left:50px;
}
.top1 a{
	color: #8B4513;
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration:none;	
	padding: 10px;
}
.top1 a:hover{
	background: pink;
}
#banner{
	background-image: url(../images/banner.jpg);
	height: 350px;
	border-bottom: 1px solid #aaaaaa;
}
#content{
	width: 1000px;
	height: 2300px;
	margin-left: auto;
	margin-right: auto;
	background-image:url(../images/bg.png);
	margin-top: 40px;
}
.search{
	margin-top: 10px;
	width: 202px;
	height: 30px;
}
.search1{
	border:1px solid blue;
	display: block;
	width: 150px;
	height: 30px;
	float: left;
}
.search2{
	background: #2E8B57;
	display: block;
	width: 50px;
	height: 30px;
	float: left;
}
.bread{
	font-weight: bolder;
}
.c_left{
	width: 700px;
	margin: 20px;
	float: left;
}
.title{
	height: 60px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bolder;
	text-align:center;
	border-bottom: 1px solid #000;
	color: #000;
}
.title_1{
	font-size: 14px;
	color: #bbbbbb;
	font-weight: bold;
}
.c_l_c{
	width: 670px;
	margin: 15px;
	text-indent: 2em;
	line-height: 30px;
	border-bottom: 6px dotted black;
}
.c_l_pic{
	margin-left: 25px;
}
.c_l_com{
	width: 640px;
	margin: 15px;
}
.c_l_com1{
	font-size: 20px;
	font-weight: bold;
}
.c_l_texta{
	width: 630px;
	height: 150px;
	border: 2px solid #aaa;
}
.c_l_button{
	width: 80px;
	height: 30px;
	float: right;
	font-size: 16px;
	font-weight: bold;
	background: #2E8B57;
}
.c_l_com2{
	width: 600px;
	margin: 20px;
	float: left;
	border-bottom: 1px solid #aaa;
}
.c_l_com21{
	position: relative;
	bottom: 15px;
	left: 20px;
}
.c_l_com3{
	width: 550px;
	margin: 20px 20px;
}
.c_right{
	width: 240px;
	height: 400px;
	background-image: url(../images/kuang.gif);
	float: left;
	margin-top: 80px;
}
.c_r_list{
	margin: 10px;
}
.c_r_list li{
	list-style-position: inside;
	line-height: 25px;
}


/*页脚部分*/
.page_bottom{
	height: 140px;
	clear: both;
	margin-top: 20px;
	text-align: center;
	background-image: url(../images/top.jpg);
	padding-top: 10px;
	border: 2px solid #aaa;	
}
.p_b_lianjie {
	margin-bottom: 20px
}